body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px
}
img{
    width: 70vw;

}
.logo{
    width:35vw;
    
}
div{
    text-align: center;
    padding: 5% 5% 7% 5%;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
a{
    text-decoration: none;
    background-color: #fff265;
    padding: 15px 70px;
    color: black;
    font-weight: 600;
    font-size: x-large;
    border-radius: 8px;

}
a:hover{
    background-color: #ffef3b;
    font-weight: 800;
}
h1{
    margin: 30px 0 10px;
}

p{
    font-size: large;
    padding: 10px;
    width: 70vw;
}
